.home-container {
    min-height: fit-content;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
}

.setBg-img {
    position: fixed;
    height: 100vh;
    width: max(100vw, 1500px);
    z-index: -1;
}

table {
    width: 95%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px 5px;
    text-align: center;
    font-size: 13px;
    text-wrap: wrap;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.start-project {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 100;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-in {
    background-color: rgb(215, 215, 215);
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.some-info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.some-info>h3 {
    background-color: rgb(141, 141, 141);
    padding: 10px;
    color: white;
}

.form-in>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 20px 0px;
}

form>i {
    font-size: 13px;
    color: red;
    text-align: center;
    text-wrap: wrap;
}

.form-in>form>input,
.file-date {
    background: none;
    border: none;
    width: 80%;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.form-in>form>textarea {
    outline: none;
    border: none;
    width: 80%;
    height: 40%;
}

.first-cont {
    background: rgba(0, 0, 0, 0.771);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.first-cont>div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.gestureCont>* {
    color: #ddd;
}

.gestureCont {
    padding: 5px;
    font-size: 25px;
    -webkit-user-select: none;
    border-bottom: 2px solid grey;
}

.nameTag>span {
    color: var(--web-color);
}


.social-media>a {
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.social-media>a:hover {
    color: var(--web-color);
}

.left-cont>div {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.select-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.select-cont select,
.label-go {
    padding: 5px;
    background: rgb(255, 255, 255);
    border: 2px solid white;
    outline: none;
    /* border-radius: 20px 0px 0px 20px; */
    cursor: pointer;
    height: max-content;
}

.label-go {
    /* border-radius: 0px 20px 20px 0px; */
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgb(210, 161, 255);
}

.label-in {
    color: rgb(0, 0, 0);
    position: absolute;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.right-cont>img {
    width: min(500px, 90%);
}

#check-project {
    display: none;
}

.file-date {
    display: flex;
    justify-content: space-between;
    border: none;
}


.file-date>input {
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 45%;
    outline: none;
    background-color: white;
}

#check-project:checked~.start-project {
    display: flex;
}

.second-cont {
    background-color: white;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.second-cont>div {
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sec-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-right>img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .5s ease-in;
}

.sec-left>p {
    width: 100%;
    text-align: justify;
    color: rgb(62, 62, 62);
    display: flex;
    flex-wrap: wrap;
}

.sec-h2 {
    color: rgb(86, 86, 86);
    margin: 10px;
}

.skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    position: relative;
}

.skill-cat{
    font-weight: bold;
    border: none;
    text-align: start;
    margin: 1px;
    cursor: pointer;
    transition: all .2s ease-in;
    z-index: inherit;
    width: 100%;
    height: max-content;
}
.skill-set{
    width: 92%;
    padding: 10px 15px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
}
.skill-set:active{
    scale: .97;
}
.hidden-skill{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    z-index: 100;
    flex-direction: row;
}
#cutBtn{
    position: absolute;
    color: wheat;
    right: 0;
    top: 0;
    padding: 5px 10px;
}
.skill-box {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    color: #0f1c3f;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transition: all .5s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 5px grey;
    margin: 5px;
}
.eachHide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon{
    width: 100px;
    margin: 10px;
}
.hidingsk{
    display: flex;
    position: absolute;
    opacity: 0;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 15px black;
    /* animation: blinking 5s infinite; */
}
@keyframes blinking {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.gesture {
    font-size: 40px;
    animation: gestures 3s ease infinite;
    width: min-content;
    display: inline-block;
    padding-bottom: 10px;
    transform: translateY(-25%);
    position: absolute;
}

.fa-heart {
    padding-top: 5px;
    font-size: 25px;
    color: white;
    transition: all .2s linear;
    cursor: pointer;
}

.fa-heart:active {
    scale: .5;
}

@keyframes gestures {
    0% {
        rotate: 0deg;
    }

    10% {
        rotate: 30deg;
    }

    20% {
        rotate: -30deg;
    }

    30% {
        rotate: 30deg;
    }

    40% {
        rotate: -30deg;
    }

    100% {
        rotate: 0deg;
    }
}

@media (max-width:500px) {
    .work-cards {
        flex-direction: column;
    }

    .work-cards>img {
        width: 100%;
        height: auto;
    }

    .social-media>span {
        width: 100%;
    }
}

@media (max-width:1000px) {
    .first-cont {
        padding: 100px 0px;
        flex-direction: column;
        height: 100%;
        gap: 100px;
    }

    .first-cont>div {
        width: 100%;
        height: fit-content;
    }

    .right-cont {
        order: 1;
    }

    .left-cont {
        order: 2;
    }

    .gestureCont {
        font-size: 15px;
    }

    .gesture {
        font-size: 20px;
    }

    .second-cont {
        flex-direction: column;
    }

    .second-cont>div {
        width: 96%;
        padding: 2%;
    }

    .form-in {
        flex-direction: column;
        height: 90%;
        width: 90%;
    }

    .form-in>form {
        width: 100%;
        height: 100%;
    }

    .some-info {
        padding-top: 10px;
        width: 100%;
    }

    th,
    td {
        font-size: 7px;
    }

    .some-info>h3 {
        padding: 5px 10px;
        font-size: small;
    }
    .skill-icon{
        width: 70px;
        margin: 5px;
    }
    .hidingsk{
        width: 75px;
        height: 75px;
        font-size: small;
    }
}

@keyframes pulse {
    0%{
        scale: 1;
        color: rgb(255, 0, 0);
    }
    50%{
        scale: .5;
        color: rgb(255, 0, 212);
    }
    100%{
        scale: 1;
        color: rgb(255, 0, 0);
    }
}
.spin-container{
    position: fixed;
    z-index: 120;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 159, 159);
}
.spin-container>span{
    transform: translateY(50px);
}
.spinner {
    position: absolute;
    width: 9px;
    height: 9px;
  }
  
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }


.animated-btn {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 30px;
   }
   
   .animated-btn span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
   }
   
   .animated-btn span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
   }
   
   .animated-btn:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
   }
   
   .animated-btn:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
   }
   
   .animated-btn:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
   }

