.home-container {
    min-height: fit-content;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
}

.setBg-img {
    position: fixed;
    height: 100vh;
    width: max(100vw, 1500px);
    z-index: -1;
}

table {
    width: 95%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px 5px;
    text-align: center;
    font-size: 13px;
    text-wrap: wrap;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.start-project {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 100;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-in {
    background-color: rgb(215, 215, 215);
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.some-info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1%;
}

.some-info>h3 {
    background-color: rgb(141, 141, 141);
    padding: 10px;
    color: white;
}

.form-in>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 20px 0px;
}

form>i {
    font-size: 13px;
    color: red;
    text-align: center;
    text-wrap: wrap;
}

.form-in>form>input,
.file-date {
    background: none;
    border: none;
    width: 80%;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.form-in>form>textarea {
    outline: none;
    border: none;
    width: 80%;
    height: 40%;
}

.first-cont {
    background: rgba(0, 0, 0, 0.771);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.first-cont>div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.gestureCont>* {
    color: #ddd;
}

.gestureCont {
    padding: 5px;
    font-size: 25px;
    -webkit-user-select: none;
    border-bottom: 2px solid grey;
}

.nameTag>span {
    color: var(--web-color);
}


.social-media>a {
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.social-media>a:hover {
    color: var(--web-color);
}

.left-cont>div {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.select-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.select-cont select,
.label-go {
    padding: 5px;
    background: rgb(255, 255, 255);
    border: 2px solid white;
    outline: none;
    /* border-radius: 20px 0px 0px 20px; */
    cursor: pointer;
    height: max-content;
}

.label-go {
    /* border-radius: 0px 20px 20px 0px; */
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgb(210, 161, 255);
}

.label-in {
    color: rgb(0, 0, 0);
    position: absolute;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.right-cont>img {
    width: min(500px, 90%);
}

#check-project {
    display: none;
}

.file-date {
    display: flex;
    justify-content: space-between;
    border: none;
}


.file-date>input {
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 45%;
    outline: none;
    background-color: white;
}

#check-project:checked~.start-project {
    display: flex;
}

.second-cont {
    background-color: white;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.second-cont>div {
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sec-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-right>img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .5s ease-in;
}

.sec-left>p {
    width: 100%;
    text-align: justify;
    color: rgb(62, 62, 62);
    display: flex;
    flex-wrap: wrap;
}

.sec-h2 {
    color: rgb(86, 86, 86);
    margin: 10px;
}

.skills-container {
    max-width: 100%;
    text-align: center;
}

.skills-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.skill-box {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    color: #0f1c3f;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.skill-box:hover {
    transform: scale(1.05);
}
.skill-box:active {
    scale: .8;
}

.skill-box:nth-child(odd) {
    background: linear-gradient(135deg, #ffe8fe, #fff4f4);
}

.skill-box:nth-child(even) {
    background: linear-gradient(135deg, #d0f6df, #fefefe);
}


.gesture {
    font-size: 40px;
    animation: gestures 3s ease infinite;
    width: min-content;
    display: inline-block;
    padding-bottom: 10px;
    transform: translateY(-25%);
    position: absolute;
}

.fa-heart {
    padding-top: 5px;
    font-size: 25px;
    color: white;
    transition: all .2s linear;
    cursor: pointer;
}

.fa-heart:active {
    scale: .5;
}

@keyframes gestures {
    0% {
        rotate: 0deg;
    }

    10% {
        rotate: 30deg;
    }

    20% {
        rotate: -30deg;
    }

    30% {
        rotate: 30deg;
    }

    40% {
        rotate: -30deg;
    }

    100% {
        rotate: 0deg;
    }
}

@media (max-width:500px) {
    .work-cards {
        flex-direction: column;
    }

    .work-cards>img {
        width: 100%;
        height: auto;
    }

    .social-media>span {
        width: 100%;
    }
}

@media (max-width:1000px) {
    .first-cont {
        padding: 100px 0px;
        flex-direction: column;
        height: 100%;
        gap: 100px;
    }

    .first-cont>div {
        width: 100%;
        height: fit-content;
    }

    .right-cont {
        order: 1;
    }

    .left-cont {
        order: 2;
    }

    .gestureCont {
        font-size: 15px;
    }

    .gesture {
        font-size: 20px;
    }

    .second-cont {
        flex-direction: column;
    }

    .second-cont>div {
        width: 96%;
        padding: 2%;
    }

    .form-in {
        flex-direction: column;
        height: 90%;
        width: 90%;
    }

    .form-in>form {
        width: 100%;
        height: 100%;
    }

    .some-info {
        padding-top: 10px;
        width: 100%;
    }

    th,
    td {
        font-size: 7px;
    }

    .some-info>h3 {
        padding: 5px 10px;
        font-size: small;
    }
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid grey;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none;
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
}

.animated-button:active {
    scale: 0.95;
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

@keyframes pulse {
    0%{
        scale: 1;
        color: rgb(255, 0, 0);
    }
    50%{
        scale: .5;
        color: rgb(255, 0, 212);
    }
    100%{
        scale: 1;
        color: rgb(255, 0, 0);
    }
}